# Configurações do Banco de Dados
DB_URL=postgresql://postgres:hzqegUOcjhT1oqw0Gxfn4F3oQh1u1JdJ@db:5432/minhaloja_db

# Configurações da Aplicação
SECRET_KEY=mude_isso_para_uma_chave_segura

# Credenciais padrão do Postgres (usadas pelo docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=hzqegUOcjhT1oqw0Gxfn4F3oQh1u1JdJ
POSTGRES_DB=minhaloja_db
