# Configurações do Banco de Dados
DB_URL=postgresql://postgres:postgrespassword@db:5432/superadmin_db

# Configurações da Aplicação
SECRET_KEY=mude_isso_para_uma_chave_segura

# Credenciais padrão do Postgres (usadas pelo docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=superadmin_db
